
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Duplicar</title>
</head>
<body>
    <div>
        <h1> El duplicado de @ViewBag.num es @ViewBag.duplicado</h1>
    </div>
</body>
</html>
