
@{
    Layout = null;
    int resultado = @ViewBag.suma;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1 style="color: deeppink;">Suma de dos numeros MVC</h1>
        <strong>  La suma es </strong> @resultado 

       
    </div>
</body>
</html>
